{% extends "base.html" %}

{% block title %}

    Login

{% endblock %}

{% block body %}

    <div class="container text-center py-5">
        <p class="h3 mb-3 font-weight-normal">Please Login to your Account</p> 
        <br>
        <form method="POST" class="form-login">
            {{ form.hidden_tag() }}

            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control", placeholder="User Name") }}

            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control", placeholder="Password") }}
            <br>
            <div class="d-grid gap-2">
                {{ form.submit(class="btn btn-primary me-md-2")}}
            </div>
            <br>
            <div class="checkbox mb-3">
                <h6>Do not have an account?</h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
            </div>
            
        </form>         
    </div>

{% endblock %}